
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: "Assistant", serif;
    list-style: none;
    text-decoration: none;
}
header{
    padding: 10px 30px;
    display: flex;
    border: 1px solid black; 
    align-items: center;
   
}
nav ul{
    display: flex;
  

}
header ul a{
    color: rgb(40,44,63);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 15px;
    list-style: none;
}
nav ul li:last-child{
    position: relative;
}
nav ul li:last-child span{
    position: absolute;
    top: -3px;
    right: 4px;
    color: rgb(255,63,108);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
header figure{
    width: 60px;
}

.serch-bar{
display: flex;
}
header figure img{
width: 100%;
}
.search-bar{
    width:100px ;
    position: relative;
}
.search-bar input{
    width: 500px;
    background-color: green;
    padding: 8px 10px 8px 40px;
    border-radius: 4px;
    border: 1px solid lightgray;
    outline: none;
}
.input{
 
width: 300px;
position: relative;
padding: 10px 10px;
top: 0px;
left: 0px;
}
.input{
    padding-left: 50px;
    width: 400px;
    height: 36px;
}
.icon-search{
    position: absolute;
    top: 34px;
    padding-left: 15px;
    /* margi; */
    /* left: 0px; */
    color: grey;
}
.header-user ul{
    color:rgb(40,44,63); 
    margin: 0 15px;
    display: flex;
}

.header-user ul li i{
    color:rgb(40,44,63); 
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.header-user ul li{
    margin-right: 20px;
}
.parent{
    display: flex;
    gap: 0px;
    margin: 30px 30px;
    padding: 40px;
    
}
img{
    width: 100%;
}
.category{
    text-align: center;
    font-size: 20px;
    color: navy;
}
.brand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    margin: 10px 10px;
    padding: 40px;

}

.row3{
    width: 16%;
}
.waiting{
    
    text-align: center;
    margin: 10px 10px;
    padding: 20px;
}
footer{
    width: 80%;
    margin: auto;
    display: flex;
   
}
    
    

.first{
    width: 22%;
    
    padding: 20px;
}
.second{
    width: 22%;
    margin-top: 20px;
  
   
  
}
.third{
    width: 22%;
   margin-top: 20px;
   margin-right: 20px;
}
   
    
    
.thirdchild{
    display: flex;
    width: 100%;
    
    margin-top: 10px;
}
.thirdimgedit{
    display: flex;
}
.thirdimgedit img{
    width: 50%;
    margin-top: 10px; 
}
.four{
    width: 24%;
    margin-top: 20px;
    margin-left: 30px;
    
}
.fourchild{
   display: flex;
}
.fourchild2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    width: 90%;
margin: auto;
}
.case{
    display: flex;
    gap: 30%;
    width: 90%;
    margin: auto;
    padding: 40px;
}
.addres{
    display: flex;
    margin: auto;
    width: 90%;
    gap: 450px;
    padding: 40px;
}
.address2{
    padding: 50px;
}
.order{
    width: 90%;
margin: auto;
}
.fashion{
    width: 90%;
    padding: 50px;
}
.smart{
    width: 90%;
    margin: auto;
}
.trendy{
    width: 90%;
    margin: 20px;
    padding:40px     ;
}
.footwear{
    width: 90%;
    margin: auto;
}
.stylish{
    width: 90%;
    margin: 20px;
    padding: 40px;
}
.fun{
    width: 90%;
    margin: auto;
}
.beauty{
    width: 90%;
    margin: 20px;
    padding: 40px;
}
.fingertips{
    width: 90%;
    margin: 20px;
    padding: 40px;
}.insider{
    width: 90%;
    margin: 20px;
    padding: 40px;
}
.insider2{
    width: 90%;
    margin: 20px;
    padding: 20px; 
}
.elite{
    width: 90%;
    margin: 35px;
    padding: 5px; 
}
.icon{
    width: 90%;
    margin: 35px;
    padding: 5px; 
}
.studio{
    width: 90%;
    margin: 20px;
    padding: 40px; 
}
.keep{
    width: 90%;
    margin: 20px;
    padding: 40px; 
}
.quick{
    width: 90%;
    margin: 20px;
    padding: 30px; 
}
.update{
    width: 90%;
    margin: 20px;
    padding: 30px;
}
.step{
    width: 90%;
    margin: 20px;
    padding: 30px;
}
.look{
    width: 90%;
    margin: 20px;
    padding: 30px;
}
.app{
    width: 90%;
    margin: 20px;
    padding: 30px;
}
.history{
    width: 90%;
    margin: 20px;
    padding: 30px; 
}
.shop{
    width: 90%;
    margin: 20px;
    padding: 30px;  
}

