@media only screen and (max-width: 992px) {
    .banner{
        grid-template-columns: 1fr;
    }
    .banner-content{
        text-align: center;
    }
    .banner-img-container{
        margin: auto;
    }
    .banner form{
        max-width: 600px;
        margin: auto;
    }
    .videos-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px){
    .header-contact{
@@ -25,4 +43,10 @@
        position: fixed;
        bottom: 0;
    }
    .banner-form{
        padding: 0;
    }
    .videos-container{
        grid-template-columns: repeat(1, 1fr);
    }
}